In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
import pandas as pd

In [ ]:
raw_df = pd.read_csv('/content/drive/MyDrive/cjs/0429naver_real_estate_noun_verb_adjective.csv')

https://velog.io/@dltjrdud37/한국어-토큰화by-konlpy-단어임베딩Word2Vec

In [ ]:
raw_df.drop('Unnamed: 0', axis = 1, inplace = True)

In [ ]:
df = raw_df.copy()

In [ ]:
df.head()

    month  ...                                             hangul
0  201101  ...  한겨레 경제 전망 부동산 시장 침체 벗어나다 부양 정책 펴다 반짝 경기 가능성 셋값...
1  201102  ...  전국 미분 아파트 감소 하다 추세 전용 면적 를 초과 하다 중대 비중 오히려 커지다...
2  201103  ...  판교 이상 서울 선 보다 집값 더 비싸다 판교 거주 요건 채우다 않다 보유 하다 양...
3  201104  ...  아시아 경제 소정 기자 송고된 여전하다 뜨겁다 오피스텔 시장 수익률 높다 단지 기사...
4  201105  ...  공사 전세 전환 이율 축소 가구 평균 원 부담 프레 시안 허다 환주 기자 서울 하다...

[5 rows x 6 columns]

In [ ]:
temp = pd.read_csv('/content/drive/MyDrive/cjs/분석용데이터_utf_spi수정완료.csv')

In [ ]:
df['spi'] = temp.spi

In [ ]:
df['next_spi'] = df['spi'].shift(-1)

In [ ]:
df.loc[119,'next_spi'] = 125.4

In [ ]:
df['spi_diff'] = df['next_spi'] - df['spi']

In [ ]:
# (n+1)월 spi - n월 spi 값이 0 미만이면 0(하방), 0 이상이면 1
df['up_down'] = df['spi_diff'].apply(lambda x: 0 if x < 0 else 1)

# 메모: 나중에 혹시라도 (n+1)월 spi - n월 spi 값이 0 이하면 0(하방), 0 초과면 1로 해보기

In [ ]:
df.up_down.value_counts()

1    88
0    32
Name: up_down, dtype: int64

In [ ]:
# 사용된 spi 지수 관련 변수 버리기
df.drop(columns = ['spi','next_spi','spi_diff'],axis=1,inplace = True)

In [ ]:
# 데이터 프레임 저장
df.to_csv('0527 df_for_nlp.csv', encoding = 'utf-8-sig')